.navbar {
    width: 10%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
@font-face {
    font-family: 'Neoneon';
    font-style: normal;
    src: url('../assets/fonts/Neoneon.otf');
}

@import 'https://fonts.googleapis.com/css?family=Raleway';

div.container
{
    font-family: 'Neoneon';
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 3ch;
}

div.container a
{
    text-decoration: none;
    font: 25px "Neoneon";
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color: white;
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: rgb(236, 106, 219);
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

a:active {
    color: rgb(236, 106, 219);
    transition: transform 0.5s;
    transform: scale(1.1);
}

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

.img{
    transition: transform 0.5s;
    width: 10vh;
    margin: 10px;
}

.img:hover{
    transform: scale(1.1);
}

.icon{
    margin: 1vh
}

.icon:hover{
    transform: scale(1.1);
}